@import "variables";

:root {
  --primary-color: #f05123;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #666;
  --text-color: #333;
  --plum-color: #b80257;
  --fb-color: #4080ff;
  --mail-color: #f47425;
  --invalid-color: #f33a58;
  --desc-color: #0000008a;
  --first-color: #1dbfaf;
  --second-color: #1dbfaf;
  --button-color: #1dbfaf;
  --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-code: "SF Mono", monospace;
  --home-slideshow-left-space: 116px;
  --home-section-left-space: 160px;
}

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  outline: none !important;
  border: none;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none !important;
}
a:hover {
  color: inherit;
}

// CSS chung
.fs-14 {
  font-size: 14px;
}

// Header
.header-logo {
  height: 38px;
  border-radius: 8px;
}
.header-login {
  background-color: #fff;
  font-weight: 600;
}
.header-sign-up {
  background: linear-gradient(to right bottom, #ff8f26, #ff5117);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.header-sign-up:hover {
  opacity: 0.8;
}
nav.sticky-top {
  z-index: 1021;
}
nav.sticky-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333;
  opacity: 0.1;
}

// Footer
.footer {
  background-color: #181821;
  color: #a9b3bb;
  overflow: hidden;
  padding: 68px 0 40px;
}
.footer-logo {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  margin-right: 10px;
}
.footer-heading {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-top: 8px;
}
.footer-text {
  font-size: 14px;
  margin: 16px 0;
}
.footer-text p {
  margin-bottom: 12px;
}
.p-mb-clear p {
  margin-bottom: 0;
}
.footer .flex-25 {
  width: 25%;
}
.footer .flex-16 {
  flex: 1;
}
.footer-social-icon i {
  font-size: 28px;
  margin-left: 16px;
}
.mt-48 {
  margin-top: 48px;
}

// Home
.home-body {
  width: 100%;
}
.home-wrapper {
  margin-right: 40px;
  padding-bottom: 68px;
}

// Home -> Navbar Col
.add-blog {
  margin-bottom: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #1473e6;
}
.add-blog .fa-plus {
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  transition: 0.3s ease;
}
.add-blog:hover .fa-plus {
  font-size: 24px;
}
.home-nav {
  color: #404040 !important;
  transition: 0.3s;
  width: 72px;
  height: 72px;
  margin-top: 4px;
  border-radius: 16px;
}
.home-nav i {
  display: block;
  font-size: 20px;
}
.home-nav p {
  font-size: 11px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 0;
  color: inherit;
}
.home-nav:hover {
  color: #1a1a1a !important;
  background-color: #e8ebed;
}
.home-nav.active {
  color: #1a1a1a !important;
  background-color: #e8ebed;
}

// Home -> Banners
.home-banner {
  width: 100%;
}
.home-banner .carousel-item {
  height: 270px;
  width: 100%;
  overflow: hidden;
}
.home-banner .carousel-inner {
  border-radius: 16px;
  overflow: hidden;
}
.home-banner .carousel-item img {
  height: 270px;
  width: auto;
}
.home-banner-text {
  width: 568px;
  height: 270px;
  padding: 36px;
  color: #fff;
}
.carousel-item {
  border-radius: 16px;
  overflow: hidden;
}
.carousel-control-prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.carousel-control-next {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  line-height: 22px;
}
.home-banner-nav {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 8px;
}
.home-banner-btn {
  padding: 4px 12px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: 0.3s ease;
  text-transform: uppercase;
  min-width: 124px;
  display: inline-block;
  border-radius: 16px;
}
#home-banner-1 .home-banner-btn:hover {
  background-color: #fff;
  color: #7612ff;
}
#home-banner-2 .home-banner-btn:hover {
  background-color: #fff;
  color: #7612ff;
}
#home-banner-3 .home-banner-btn:hover {
  background-color: #fff;
  color: #7612ff;
}
#home-banner-4 .home-banner-btn:hover {
  background-color: #fff;
  color: #7612ff;
}

// Home -> Items
.home-pd-40 {
  padding: 0 40px;
}
.home-body-mr-40 {
  margin-right: 40px;
}
.home-mt-70 {
  margin-top: 70px;
}
.home-course-margin {
  margin: 0 -15px;
}
.wrapper-header {
  font-size: 24px;
  font-weight: 900;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 20px;
}
.card {
  border: none;
}
.card-img-top {
  transition: 0.3s;
  border-radius: 16px;
}
.card-img-top-a::after {
  content: "Xem khóa học";
  position: absolute;
  display: none;
  width: 116px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes course-nav {
  from {
    top: 60%;
    opacity: 0.3;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.card-img-top-a:hover .card-img-top {
  filter: blur(3px);
}
.card-img-top-a:hover::after {
  display: block;
  animation: course-nav 0.3s;
}
.card-body {
  padding: 0;
  margin-bottom: 32px;
}
.card-title {
  margin: 12px 0;
  font-size: 16px;
}
.card-text {
  font-size: 14px !important;
}

// Learning paths web
.circle-process {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 50%;
  z-index: -11;
}
.roadmap-course {
  margin-right: 8px;
}
.roadmap-course > a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s ease;
}
.roadmap-course > a:hover {
  opacity: 0.7;
}
.roadmap-item-icon {
  font-size: 22px;
  line-height: 36px;
}

.btn-orange {
  background: #f05123;
  padding: 8px 20px;
  margin-top: 28px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}
.btn-orange:hover {
  opacity: 0.7;
}
.learning-path-block {
  max-width: 500px;
  border-radius: 16px;
  padding: 24px;
  border: 2px solid #e8e8e8;
}
.learning-path-block h2 {
  font-size: 20px;
  font-weight: 900;
}
.roadmap-img {
  display: inline-block;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  padding: 12px;
}
