<div>
    <h2 class="create-course-title">Thông tin khóa học</h2>
    <h4>Điền thông tin cơ bản về khóa học để tạo ra sự hứng thú với học sinh</h4>
    <form>
        <div class="mb-3">
            <label for="create-course-name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="create-course-name">
        </div>
        <div class="mb-3">
            <label for="create-course-category" class="form-label">Danh mục</label>
            <input type="text" class="form-control" id="create-course-category">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cấp độ</label>
            <div class="d-flex">
                <input type="text" class="form-control" id="create-course-category">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Beginner</a>
                        <a class="dropdown-item" href="#">Middle</a>
                        <a class="dropdown-item" href="#">Advanced</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>