<div class="footer">
    <div class="container d-flex">
        <div class="flex-25 pl-3 pr-3">
            <div class="d-flex align-items-center">
                <img class="footer-logo" src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" alt="logo">
                <h2 class="footer-heading mb-0">Học Lập Trình Để Đi Làm</h2>
            </div>
            <div class="footer-text p-mb-clear">
                <p>Điện thoại: 0246.329.1102</p>
                <p>Email: contact@fullstack.edu.vn</p>
                <p>Số 11D, lô A10, khu đô thị Nam Trung Yên, Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</p>
            </div>
        </div>
        <div class="flex-16 pl-3 pr-3">
            <div class="ml-auto mr-auto">
                <h2 class="footer-heading">VỀ F8</h2>
                <div class="footer-text">
                    <p>Giới thiệu</p>
                    <p>Liên hệ</p>
                    <p>Điều khoản</p>
                    <p>Bảo mật</p>
                    <p>Cơ hội việc làm</p>
                </div>

            </div>
        </div>
        <div class="flex-16 pl-3 pr-3">
            <h2 class="footer-heading">SẢN PHẨM</h2>
            <div class="footer-text">
                <p>Game Nester</p>
                <p>Game CSS Diner</p>
                <p>Game CSS Selectors</p>
                <p>Game Froggy</p>
                <p>Game Froggy Pro</p>
                <p>Game Scoops</p>
            </div>
        </div>
        <div class="flex-16 pl-3 pr-3">
            <h2 class="footer-heading">CÔNG CỤ</h2>
            <div class="footer-text">
                <p>Tạo CV xin việc</p>
                <p>Rút gọn liên kết</p>
                <p>Clip-path maker</p>
                <p>Snippet generator</p>
                <p>CSS Grid generator</p>
                <p>Cảnh báo sờ tay lên mặt</p>
            </div>
        </div>
        <div class="flex-25 pl-3 pr-3">
            <h2 class="footer-heading">CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8</h2>
            <div class="footer-text">
                <p>Mã số thuế: 0109922901</p>
                <p>Ngày thành lập: 04/03/2022</p>
                <p>Lĩnh vực: Công nghệ, giáo dục, lập trình. F8 xây dựng và phát triển những sản phẩm mang lại giá trị cho cộng đồng.</p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between mt-48">
        <div class="fs-14">© 2018 - 2024 F8. Nền tảng học lập trình hàng đầu Việt Nam</div>
        <div class="d-flex footer-social-icon">
            <a href="/"><i class="fa-brands fa-youtube" style="color: #eb2c3b;"></i></a>
            <a href="/"><i class="fa-brands fa-facebook" style="color: #4867aa;"></i></a>
            <a href="/"><i class="fa-brands fa-tiktok"></i></a>            
        </div>
    </div>
</div>