<nav class="navbar navbar-expand-lg navbar-dark bg-white justify-content-between sticky-top">
    <div class="d-flex align-items-center">
        <a class="navbar-brand ml-3" href="/"><img src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" alt="logo" class="header-logo"></a>
        <p class="mb-0 text-strong"><strong>F8 - Hoang Tien</strong></p>
    </div>
    <div class="d-flex">
        <button type="button" class="header-login mr-4 text-dark" style="font-size: 14px;">Đăng nhập</button>
        <button type="button" class="header-sign-up mr-4 text-white" style="font-size: 14px;">Đăng ký</button>
    </div>

    {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul> --}}
        {{!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
    {{!-- </div> --}}
</nav>