{{!-- Home Navigation Column --}}
<div>
    <div class="d-inline-flex flex-column pl-3 pr-3 align-items-center bg-light sticky-top" style="top: 74px;">
        <a href="/courses/create" class="add-blog d-flex justify-content-center align-middle">
            <i class="text-center fas fa-plus"></i>
        </a>
        <a href="/" class="active home-nav d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-house"></i>
            <p>Trang chủ</p>
        </a>
        <a href="/learning-paths" class="home-nav d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-road"></i>
            <p>Lộ trình</p>
        </a>
        <a href="/" class="home-nav d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-newspaper"></i>
            <p>Bài viết</p>
        </a>
    </div>
</div>