
{{!-- Roadmap Body --}}
<div class="mt-2" style="padding: 0 44px;">    
    <h1>Lộ trình học</h1>
    <div>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị trí "Lập trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".</div>

    <div class="d-flex" style="margin-top: 80px">
        {{!-- Font-end learning-paths --}}
        <div style="max-width: 500px;" class="mr-4 learning-path-block">
            <div class="d-flex align-items-center">
                <div>
                    <a href="#"><h2>Lộ trình học Front-end</h2></a>
                    <p class="fs-14">Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.</p>
                </div>
                <div class="pl-4">
                    <a href="#" class="roadmap-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/63b4642136f3e.png" alt="roadmap-front-end" width="100px">
                    </a>
                </div>
            </div>
            <div class="d-flex">
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
            </div>
            <a href="/learning-paths/front-end-development" class="btn-orange text-white">Xem chi tiết</a>   
        </div>

        {{!-- Back-end learning-paths --}}
        <div style="max-width: 500px;" class="mr-4 learning-path-block">
            <div class="d-flex align-items-center">
                <div>
                    <a href="#">
                        <h2>Lộ trình học Back-end</h2>
                    </a>
                    <p class="fs-14">Trái với Front-end thì lập trình viên Back-end là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end nhé.</p>
                </div>
                <div class="pl-4">
                    <a href="#" class="roadmap-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/63b4641535b16.png" alt="roadmap-back-end" width="100px">
                    </a>
                </div>
            </div>
            <div class="d-flex">
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
                <div class="roadmap-course position-relative">
                    <div class="circle-process"></div>
                    <a href="#"><i class="fa-brands fa-square-js roadmap-item-icon"></i></a>
                </div>
            </div>
            <a href="/learning-paths/back-end-development" class="btn-orange text-white">Xem chi tiết</a>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="margin-top: 50px; margin-bottom: 60px;">
        <div style="flex:1;">
            <h2>Tham gia cộng đồng học viên F8 trên Facebook</h2>
            <p>Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.</p>
            <a href="https://www.facebook.com/groups/f8official" target="_blank">Tham gia nhóm</a>
        </div>
        <div style="flex:1;"><img src="https://fullstack.edu.vn/static/media/fb-group-cards.4bd525b1b8baf7b1e5a2.png" alt="join-learning-group" width="100%"></div>
    </div>
</div>